[submodule "CoreCerraduraClient"]
	path = CoreCerraduraClient
	url = git@github.com:colemancda/CoreCerraduraClient.git
[submodule "KeychainAccess"]
	path = KeychainAccess
	url = git@github.com:colemancda/KeychainAccess.git
[submodule "DZNEmptyDataSet"]
	path = DZNEmptyDataSet
	url = git@github.com:colemancda/DZNEmptyDataSet.git
